<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <import resource="classpath:rate-service.xml" />

  <bean id="gwtPublishInfoService" class="org.gwtwidgets.server.spring.GWTRPCServiceExporter">
    <property name="service">
      <bean class="com.newsoft.rate.service.impl.PublishInfoServiceFacadeImpl">
        <property name="rateService" ref="rateService" />
      </bean>
    </property>
  </bean>

  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <map>
        <entry key="/publishInfoService" value-ref="gwtPublishInfoService" />
      </map>
    </property>
  </bean>

</beans>